.About {
    background-color:lightgoldenrodyellow;
  }
  
  
  /* .Banner {
    background-color:#4369d9;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-left: 2%;
  } */
  
  